@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1010px)
	.mainpage_menuleft
		font-size: 110px


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	.mainpage_menuleft
		font-size: 90px

@media only screen and (max-width : 600px)
	.mainpage_logo
		top: auto
		left: auto
		bottom: 25px
		right: 25px
		max-width: 250px
		transform: none


/* Extra Small Devices, Phones */
@media only screen and (max-width : 414px)
	.mainpage_navbar
		width: 100%
		right: -100%
	.mainpage_navbar-links-item:last-child
		margin-top: 30px
	.mainpage_navbar-links
		margin: 35px 0 0 0
	.mainpage_navbar-logo
		bottom: 37px
	.mainpage_navbar-links
		padding: 0 15px
	.mainpage_navbar-logo
		display: none


/* Custom, iPhone Retina */
@media only screen and (max-width : 360px)
	.mainpage_navbar
		padding: 37px 30px 0
	.mainpage_navicon-wrap
		right: 44px

@media only screen and (max-width : 320px)
	.mainpage_menuleft
		font-size: 80px
	.mainpage_navbar-links
		margin: 30px 0 0 0